*,
*::before,
*::after {
  box-sizing: border-box;
}

.page__body {
  font-family: "Open Sans", sans-serif;
  font-weight: $normal;
  color: $text-color-main;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
