@mixin text($size, $line-height, $weight: $normal) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}


@mixin list-style-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
