$accent-color-light: #63d1bb;
$accent-color-dark: #56c3b2;
$base-color-light: #ffffff;
$base-color-dark: #000000;
$background-color-grey: #f1f1f1;
$text-color-main: #444444;
$border-color: rgba(236, 236, 236, 1); // #ececec
$divider-color: #e5e5e5; //footer

$normal: 400;
$bold: 700;
