.about {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

.about__wrapper {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    position: relative;
    left: -15px;
  }
}

.about__items-wrapper {

  @media (min-width: $tablet-width) {
    column-count: 2;
  }
}

.about__item {
  min-height: 88px;
  display: flex;
  align-items: flex-end;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 100px;
  }

  @media (min-width: $desktop-width) {
    max-width: 350px;
  }

  &::before {
    content: "";
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
  }

  &--materials {
    min-height: 94px;
    margin-bottom: 30px;

    &::before {
      width: 33px;
      height: 38px;
      background-image: url("../img/stack.svg#icon-materials");
      left: 8px;
    }

    @media (min-width: $tablet-width) {
      min-height: 100px;
      margin-bottom: 57px;
    }
  }

  &--style {
    min-height: 93px;
    margin-bottom: 35px;

    &::before {
      width: 47px;
      height: 27px;
      background-image: url("../img/stack.svg#icon-style");
      left: 0;
    }

    @media (min-width: $tablet-width) {
      min-height: 97px;
      margin-bottom: 63px;
    }
  }

  &--likes {
    min-height: 88px;
    margin-bottom: 32px;

    &::before {
      width: 34px;
      height: 27px;
      background-image: url("../img/stack.svg#icon-likes");
      left: 7px;
    }

    @media (min-width: $tablet-width) {
      min-height: 92px;
    }
  }

  &--handmade {
    min-height: 91px;
    margin-bottom: 33px;

    &::before {
      width: 35px;
      height: 34px;
      background-image: url("../img/stack.svg#icon-handmade");
      left: 3px;
    }

    @media (min-width: $tablet-width) {
      min-height: 97px;
      margin-bottom: 59px;
    }
  }

  &--domestic {
    min-height: 89px;
    margin-bottom: 33px;

    &::before {
      width: 55px;
      height: 23px;
      background-image: url("../img/stack.svg#icon-domestic");
      left: -6px;
    }

    @media (min-width: $tablet-width) {
      min-height: 95px;
      margin-bottom: 58px;
    }
  }

  &--delivery {
    min-height: 92px;
    margin-bottom: 0;

    &::before {
      width: 33px;
      height: 32px;
      background-image: url("../img/stack.svg#icon-delivery");
      left: 3px;
    }

    @media (min-width: $tablet-width) {
      min-height: 97px;
    }
  }

  &:nth-child(3n) {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.about__heading {
  @include text(25px, 30px, $bold);
  color: $base-color-dark;
  margin: 0 0 28px;

  @media (min-width: $tablet-width) {
    @include text(43px, 50px, $bold);
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    @include text(53px, 57px, $bold);
    margin-bottom: 39px;
  }
}

.about__description {
  @include text(17px, 20px, $bold);
  color: $base-color-dark;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include text(20px, 22px, $bold);
  }
}
