.contacts {
  position: relative;
  margin: 0 auto 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding-right: 527px;
    margin-bottom: 105px;
  }
}

.contacts__wrapper {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 79px;
    padding-left: 174px;
  }
}

.contacts__heading {
  @include text(25px, 30px, $bold);
  margin: 0 0 28px;

  @media (min-width: $tablet-width) {
    @include text(43px, 50px, $bold);
    margin-bottom: 49px;
    position: relative;

    &::after {
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../img/stack.svg#flag");
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: -22px;
      right: 3px;

      @media (min-width: $desktop-width) {
        top: -17px;
        left: -111px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    @include text(53px, 57px, $bold);
    margin-bottom: 34px;
  }
}

.contacts__list {
  @include list-style-reset;
  display: flex;
  flex-direction: column;
  margin-bottom: 62px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-bottom: 84px;
  }
}

.contacts__item {
  display: flex;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 29px;
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 29px;
      margin-right: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.contacts__item-name {
  @include text(14px, 30px);
  margin: 0;
  margin-right: 32px;

  @media (min-width: $tablet-width) {
    @include text(17px, 30px);
    margin-right: 26px;
  }
}

.contacts__item-value {
  @include text(14px, 30px);
  margin: 0;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    @include text(17px, 30px);
  }

  &--email {
    position: relative;
    color: inherit;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $accent-color-light;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:hover {
      color: #46c1ae;
    }

    &:active::after {
      opacity: 0.1;
    }
  }
}

.contacts__map {
  background-color: $background-color-grey;
  height: 454px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    height: 457px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 0;
  }

  & iframe {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.contacts__image {
  margin: 0 auto;
}

.contacts__button {
  display: block;
  text-align: center;
  width: 260px;
  margin: 0 auto;
  color: inherit;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 174px;
  }
}
