.feedback {
  padding-bottom: 47px;
  margin-bottom: 89px;

  @media (min-width: $tablet-width) {
    padding-top: 79px;
    margin-bottom: 131px;
  }
}

.feedback__wrapper {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
    position: relative;

    &::before {
      content: "";
      width: 350px;
      height: 457px;
      background-color: #d9d9d9;
      background-image: url("../img/feedback.png");
      background-repeat: no-repeat;
      background-position: top left;
      position: absolute;
      top: -79px;
      left: calc((668px - 100vw) / 2);
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 1050px;
    padding-left: 175px;

    &::before {
      left: 0;
    }
  }
}

.feedback__heading {
  @include text(25px, 30px, $bold);
  color: $base-color-dark;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include text(43px, 50px, $bold);
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    @include text(50px, 57px, $bold);
    margin-bottom: 35px;
  }
}

.feedback__text {
  @include text(15px, 30px);
  margin: 0 0 18px;

  @media (min-width: $tablet-width) {
    @include text(17px, 30px);
    max-width: 668px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    max-width: 875px;
  }
}

.feedback__name {
  @include text(17px, 24px, $bold);
  color: $base-color-dark;
  margin: 0 0 11px;
}

.feedback__nickname {
  @include text(17px, 30px);
  margin: 0;
}

.feedback__controls {
  display: flex;
  flex-direction: row;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 137px;
    position: absolute;
    bottom: 0;
    right: 19px;
  }
}

.feedback__button {
  display: block;

  @media (min-width: $tablet-width) {
    width: 175px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
