.form-content__container {
  width: 260px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: 668px;

    &--name,
    &--tel,
    &--email,
    &--colors,
    &--add {
      display: flex;
      flex-direction: row;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;

    &--name,
    &--tel,
    &--email,
    &--add {
      padding-right: 173px;
    }
  }
}
