.main-header {
  padding: 22px 0;
}

.main-header__wrapper {
  width: 260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 668px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}
