.order-heading {
  min-height: 177px;
  background-color: $background-color-grey;
}

.order-heading__text {
  @include text(27px, 30px, $bold);
  margin: 0 auto;
  text-align: center;
  color: $base-color-dark;
}
