.order-main__wrapper {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.order-main__description {
  @include text(13px, 24px);
}
