.process {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
  }
}

.process__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 21px 0 33px;
  border: 1px solid $border-color;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "head-text"
    "video"
    "description"
    "process-button";

  @media (min-width: $tablet-width) {
    width: 668px;
    grid-template-areas:
      "video"
      "head-text"
      "description"
      "process-button";
    padding: 0 0 46px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    grid-template-columns: 683px 1fr;
    grid-template-areas:
      "video head-text"
      "video description"
      "video process-button";
    padding: 0;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.process__video {
  grid-area: video;
  position: relative;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.process__preload {
  display: block;
  height: 150px;
  background-color: $background-color-grey;

  @media (min-width: $tablet-width) {
    height: 455px;
  }
}

.process__head-text {
  @include text(17px, 24px, $bold);
  color: $base-color-dark;
  grid-area: head-text;
  padding-left: 91px;
  margin: 0;
  margin-bottom: 27px;
  position: relative;

  &::before {
    content: "";
    width: 32px;
    height: 22px;
    background-image: url("../img/stack.svg#video");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 14px;
    left: 34px;

    @media (min-width: $tablet-width) {
      top: -2px;
      left: 42px;
    }

    @media (min-width: $desktop-width) {
      top: 47px;
      left: 79px;
    }
  }

  @media (min-width: $tablet-width) {
    @include text(20px, 24px, $bold);
    margin-bottom: 24px;
    padding-left: 107px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 79px;
    padding-top: 95px;
    max-width: 260px;
  }
}

.process__description {
  @include text(13px, 24px);
  grid-area: description;
  margin: 0 0 41px;
  padding-left: 34px;

  @media (min-width: $tablet-width) {
    @include text(15px, 30px);
    max-width: 640px;
    padding-left: 40px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 79px;
    width: 332px;
    margin-bottom: 51px;
  }
}

.process__button {
  grid-area: process-button;
  width: 192px;
  margin: 0 auto;
  color: inherit;

  @media (min-width: $tablet-width) {
    width: 584px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    margin-bottom: 60px;
    margin-left: 79px;
  }
}

.process__video-control {
  width: 100px;
  height: 77px;
  background-image: url("../img/stack.svg#play");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  &:hover {
    width: 121px;
    height: 92px;
    opacity: 1;
  }

  &:active {
    width: 81px;
    height: 62px;
    opacity: 0.3;
  }
}
