.products {
  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.products__wrapper {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.products__list {
  @include list-style-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
  }
}

.products__item {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.products__button {
  border: none;
  width: 20px;
  height: 19px;
  mask-image: url("../img/cart.svg");
  background-color: rgba($base-color-dark, 0.2);
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-color: $accent-color-light;
  }

  &:active {
    background-color: rgba($accent-color-light, 0.3);
  }
}
