.product {
  padding-bottom: 36px;
}

.product__wrapper {
  width: 260px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "heading"
    "marker"
    "description"
    "features"
    "image"
    "price"
    "button";

  @media (min-width: $tablet-width) {
    width: 668px;
    grid-template-columns: min-content 1fr min-content;
    grid-template-areas:
      "heading heading marker"
      "description image image"
      "features image image"
      "price image image"
      "button image image";
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    grid-template-columns: 175px 350px repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
  }
}

.product__heading {
  @include text(25px, 30px, $bold);
  color: $base-color-dark;
  grid-area: heading;
  z-index: 1;

  @media (min-width: $desktop-width) {
    grid-area: 1 / 2 / 2 / 4;
  }
}

.product__marker {
  @include text(17px, 20px, $bold);
  text-transform: uppercase;
  color: $accent-color-light;
  grid-area: marker;

  @media (min-width: $desktop-width) {
    grid-area: 1 / 1 / -1 / 2;
  }
}

.product__description {
  @include text(15px, 24px);
  grid-area: description;

  @media (min-width: $desktop-width) {
    grid-area: 2 / 2 / 3 / 3;
  }
}

.product__price {
  @include text(17px, 24px, $bold);
  grid-area: price;

  @media (min-width: $desktop-width) {
    grid-area: 4 / 2 / 5 / 3;
  }
}

.product__price-value {
  @include text(17px, 24px, $bold);
}

.product__image-container {
  background-color: $background-color-grey;
  grid-area: image;

  @media (min-width: $desktop-width) {
    grid-area: 1 / 3 / -1 / -1;
  }
}

.product__features {
  grid-area: features;

  @media (min-width: $desktop-width) {
    grid-area: 3 / 2 / 4 / 3;
  }
}

.product__button-order {
  grid-area: button;

  @media (min-width: $desktop-width) {
    grid-area: 5 / 2 / 6 / 3;
  }
}
