.promo {
  display: flex;
  flex-direction: column;
  min-height: 506px;
  margin-bottom: 31px;
  background-color: $background-color-grey;
  background-image: url("../img/hero-mobile@2x1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;

  @media (min-width: $tablet-width) {
    min-height: 758px;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    min-height: 763px;
    margin-bottom: 54px;
  }
}

.promo__heading {
  @include text(27px, 30px, $bold);
  color: $base-color-dark;
  max-width: 260px;
  text-align: center;
  margin: 73px auto 0;

  @media (min-width: $tablet-width) {
    @include text(43px, 50px, $bold);
    margin-top: 155px;
    max-width: 668px;
  }

  @media (min-width: $desktop-width) {
    @include text(53px, 57px, $bold);
    margin-top: 158px;
    max-width: 700px;
  }
}

.promo__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.promo__item {
  padding: 24px 30px 0;

  @media (min-width: $tablet-width) {
    padding: 25px 36px 34px;
  }

  &:hover {
    padding-top: 19px;
  }
}
