.promo {
  min-height: 506px;
  background-color: $background-color-grey;
  background-image: url("../img/hero-mobile@2x1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.promo__heading {
  @include text(27px, 30px, $bold);
  color: $base-color-dark;
  max-width: 260px;
  margin: 0 auto;
}
