.socials__list {
  @include list-style-reset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 142px;
}

.socials__link {
  display: block;
  width: 28px;
  height: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $base-color-dark;

  &--vk {
    mask-image: url("../img/vkontakte.svg");
  }

  &--yt {
    mask-image: url("../img/youtube.svg");
  }

  &--tg {
    mask-image: url("../img/telegram.svg");
  }

  &:hover {
    background-color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
