.submenu {
  @include list-style-reset;
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 110px;
    left: 0;
  }
}

.submenu__item:not(:last-child) {
  margin-right: 64px;
}


.submenu__link {
  @include text(15px, 24px, $bold);
  color: $base-color-dark;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
